NEXT_PUBLIC_DYNAMIC_ENVIROMENT_ID = 7554590a-a8b3-4776-af8e-6c3248a98aed
NEXT_PUBLIC_PINATA_APIKEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJkNDQyNzRiOS00YWQyLTRiZTctOTM4YS0zYjgzZmVhZTc0YWUiLCJlbWFpbCI6InRhcmRpcy5hYnNAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siaWQiOiJGUkExIiwiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjF9LHsiaWQiOiJOWUMxIiwiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjF9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6ImQ4MjM2NjQ3NmIyNGZmZmY2ZDdiIiwic2NvcGVkS2V5U2VjcmV0IjoiMzM2NDE3NDkxNGI0NGFiOGZmMzlhMDgyYzg5ZmY5ZDM5OGZhYTVlNmJmYzdjYzExNjc5MWM4MDVjZWI5NjI0MiIsImlhdCI6MTcxNTY4MzkxNn0.5IGTzNRdNW6ad134C30Y9O2FibKsesSmkS9WLuHXu0M
NEXT_PUBLIC_ENDPOINT = http://localhost:8081
NEXT_PUBLIC_PINATA_URL = https://gateway.pinata.cloud/ipfs/
https://gateway.pinata.cloud/ipfs/QmT1ptj6F6Bpot4169KRmmTsQb7QtZcPC9n1xZoWwSdXEY