@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(179, 179, 179);
}

*::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 30px;
  border: 3px none #636060;
}

input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  cursor: pointer;
  outline: none;
  /*  slider progress trick  */
  overflow: hidden;
  border-radius: 50px;
  background: transparent;
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  background: #494949;
  border-radius: 50px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 8px;
  width: 8px;
  background: #0cdee4;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px #0cdee4;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #f50;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px #f50;
}
